version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      time: '06:00'
      day: sunday
    commit-message:
      prefix: chore
      include: scope
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
      time: '06:00'
      day: sunday
    commit-message:
      prefix: chore
      include: scope
